[Unit]
Description=ZDoom

Wants=weston.socket

[Service]
Type=simple
ExecStart=/usr/bin/zdoom +fullscreen 1
User=weston
Environment=WAYLAND_DISPLAY=/run/wayland-0

[Install]
WantedBy=default.target

